{% if active_operation_count %}
  <span id="active-operation-count" class="nav-badge">{{ active_operation_count }}</span>
{% else %}
  <span id="active-operation-count" class="nav-badge empty"></span>
{% endif %}
